body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin-top: 10px;
}

#main {
  float: left;
  width: 650px;
}

#sidebar {
  float: left;
  width: 300px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 100px 0 0 3px;
}

#sequence text {
  font-weight: 600;
  fill: #ffffff;
}

#sequence text, #legend text.name {
  font-weight: 600;
  fill: #00000;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 200px;
  left: 260px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#value {
  font-size: 2em;
}

#name {
  padding-top: 400px;
  font-weight: 600;
}
